# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env
.env.*

# Django
*.log
staticfiles/
media/

# SQLite database
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.iml

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local configs and secrets
secrets.*
